# Node.js
node_modules

# Files transpiled by tsc
dist/

# Logs
logs/
*.log

# Build output
dist/

# Environment variables
.env
# IDE files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

.DS_Store 